My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c85106c5-d159-4660-aa65-375592d38043",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1fOHxTfOPXeYTjylb1nVU2yGssKmudVEi7WSV640Arto",
          "mode": "list",
          "cachedResultName": "n8n-leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fOHxTfOPXeYTjylb1nVU2yGssKmudVEi7WSV640Arto/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1614093130,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fOHxTfOPXeYTjylb1nVU2yGssKmudVEi7WSV640Arto/edit#gid=1614093130"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "74c2b496-d4fa-4659-866b-52ab15f43644",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "DNhITUBKtUbihFto",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 
             YOUR_GROQ_API_KEY"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"max_tokens\": 500,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze this lead and give a 2 line summary: Name: {{ $json.Name }}, Email: {{ $json.Email }}, Message: {{ $json.Message }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "607d11de-fe41-4317-b555-39c2104afd08",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "santoshjaiswal89896@gmail.com",
        "subject": "=New Lead: {{ $('Google Sheets Trigger').item.json.Name }}",
        "message": "={{ $json.choices[0].message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "e483768f-aa7f-4022-a5bb-45a7fad0dec7",
      "name": "Send a message",
      "webhookId": "4814c115-6570-4476-9cf6-eef4820c538b",
      "credentials": {
        "gmailOAuth2": {
          "id": "mTUBm9gPsDgve7Ux",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1fOHxTfOPXeYTjylb1nVU2yGssKmudVEi7WSV640Arto",
          "mode": "list",
          "cachedResultName": "n8n-leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fOHxTfOPXeYTjylb1nVU2yGssKmudVEi7WSV640Arto/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1614093130,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fOHxTfOPXeYTjylb1nVU2yGssKmudVEi7WSV640Arto/edit#gid=1614093130"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "AI Summary ": "={{ $('HTTP Request').item.json.choices[0].message.content }}",
            "Name": "={{ $('Google Sheets Trigger').item.json.Name }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Summary ",
              "displayName": "AI Summary ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        0
      ],
      "id": "ff65a1eb-ca71-4a79-be6e-c9206717e720",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9xSLz18F5XkqPXff",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b8a812b6-8b62-4dab-a2c7-0c390782d141",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f4b72e347b3336b6d7e580930ab78035a52a3c6eea21c9738384a7e2cf26a2e"
  },
  "id": "9NMAGWSXYYoSFL9s",
  "tags": []
}